.south-africa {
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     position:inherit;
     padding: 20px;
     top: 300px;
     margin: 100px 400px 100px 400px;
     border: 1px solid rgb(170, 1, 1);
     line-height: 40px;
     font-size: 20px;
}

.american {
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     position:inherit;
     padding: 20px;
     top: 500px;
     margin: 100px 400px 100px 400px;
     border: 1px solid rgb(170, 1, 1);
     line-height: 40px;
     font-size: 20px;
}

.education {
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     position:relative;
     padding: 20px;
     top: 500px;
     margin: 100px 400px 100px 400px;
     border: 1px solid rgb(170, 1, 1);
     line-height: 40px;
     font-size: 20px;
}

.international {
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     position:relative;
     padding: 20px;
     top: 500px;
     margin: 100px 400px 100px 400px;
     border: 1px solid rgb(170, 1, 1);
     line-height: 40px;
     font-size: 20px;
}

.diploma {
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     position:relative;
     padding: 20px;
     top: 500px;
     margin: 100px 400px 100px 400px;
     border: 1px solid rgb(170, 1, 1);
     line-height: 40px;
     font-size: 20px;
}

.pm {
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     position:relative;
     padding: 20px;
     top: 500px;
     margin: 100px 400px 100px 400px;
     border: 1px solid rgb(170, 1, 1);
     line-height: 40px;
     font-size: 20px;
}

.cyclist {
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     position:relative;
     padding: 20px;
     top: 500px;
     margin: 100px 400px 100px 400px;
     border: 1px solid rgb(170, 1, 1);
     line-height: 40px;
     font-size: 20px;
}